<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>글 등록</title>
</head>
<body>
<form role="form" th:action="@{/post/register}" th:object="${postForm}" method="post" >
    <h3>글쓰기</h3>
    <table>
        <tbody>
        <tr>
            <th scope="row">제목</th>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr th:if="${#fields.hasErrors('title')}">
            <th scope="row"></th>
            <td th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}" style="color: crimson"/>
        </tr>
        <tr>
            <th scope="row">내용</th>
            <td><textarea cols="40" rows="15" th:field="*{content}"></textarea></td>
        </tr>
        <tr th:if="${#fields.hasErrors('content')}">
            <th scope="row"></th>
            <td th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}" style="color: crimson"/>
        </tr>
        </tbody>
    </table>

    <input type="submit" value="등록" style="margin-left: 160px"/>
</form>
<br/><a href="/post" style="margin-left: 340px">
    <button>취소</button>
</a>

</body>
</html>